@import url('https://fonts.google.com/specimen/Kumbh+Sans');

$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);

$v-dark-blue: hsl(220, 13%, 13%);
$dark-gray-blue: hsl(219, 9%, 45%);
$gray-blue: hsl(220, 14%, 75%);
$light-gray-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsla(0, 0%, 0%, 75%);

$text-fs: 1em;
$title-fs: 1.75em;

$normal-fw: 400;
$bold-fw: 700;

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

@mixin flex($direction : column, $align : center, $justify: start) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

.round-btn {
    @include flex(column, center, center);
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.body {
    @include flex();
    width: 100vw;
    background-color: $white;
    overflow-x: hidden;
    font-family: 'Kumbh Sans', 'Poppins',
                 'Roboto', 'Montserrat', sans-serif;

}

* {
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 8vh;
}

.main {
    width: 100%;

    .carousel-section {
        height: 40vh;
        background-color: lightcoral;
        width: 100%;

        .carousel {
            height: 100%;
            width: 100%;
            position: relative;

            .carousel-image {
                height: 100%;
                width: 100%;
            }

            .carousel-button {
                background-color: $white;
                position: absolute;
                top: 0;
                margin-top: 30%;
            }

            #previous {
                left: 25px;
            }

            #next {
                right: 25px;
            }
        }

        .carousel-images {
            display: none;
        }
    }

    .info {
        width: 100%;
        height: 60vh; /* temporary */
        padding: 1.25em;
    }
}

.footer {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
}