@import url('https://fonts.google.com/specimen/Kumbh+Sans');

$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);

$v-dark-blue: hsl(220, 13%, 13%);
$dark-gray-blue: hsl(219, 9%, 45%);
$gray-blue: hsl(220, 14%, 75%);
$light-gray-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsla(0, 0%, 0%, 75%);

$text-fs: 1em;
$title-fs: 1.75em;

$normal-fw: 400;
$bold-fw: 700;

.body {
    width: 100vw;
    background-color: $white;
    overflow: hidden;
    font-family: 'Kumbh Sans', 'Poppins',
                 'Roboto', 'Montserrat', sans-serif;
}

.carousel-images {
    display: none;
}

.header {
    height: 10vh;
    background-color: blue;
    width: 100%;
}

.main {
    width: 100%;
    background-color: red;

    .carousel-section {
        height: 40vw;
        width: 100%;
        background-color: yellow;
    }

    .info {
        background-color: pink;
        width: 100%;
        padding: 0 1em;

        .product-description {
            width: 100%;

            .title {
                height: 1em;
                background-color: red;
            }

            .subtitle {
                height: 5em;
                background-color: brown;
            }

            .about-product {
                height: 5em;
                background-color: blueviolet;
            }
        }
    }
}