@import url('https://fonts.google.com/specimen/Kumbh+Sans');

$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);

$v-dark-blue: hsl(220, 13%, 13%);
$dark-gray-blue: hsl(219, 9%, 45%);
$gray-blue: hsl(220, 14%, 75%);
$light-gray-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsla(0, 0%, 0%, 75%);

$text-fs: 1em;
$title-fs: 1.75em;

$normal-fw: 400;
$bold-fw: 700;

@mixin flex($direction : column, $align : center, $justify: start) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

.body {
    @include flex();
    width: 100vw;
    background-color: $white;
    position: relative;
    overflow-x: hidden;
    font-family: 'Kumbh Sans', 'Poppins',
                 'Roboto', 'Montserrat', sans-serif;

    * {
        width: inherit;
    }
}

.header {
    height: 3em;
    background-color:hsl(219, 9%, 45%);
}

.main {
    height: 10em;
    background-color: hsl(26, 100%, 55%);
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 5px;
    background-color: indigo;
}